<section class="recent-post-wrapper">
  <div class="recent-post-container">
    <h1 class="section-title">
        Russia’s invasion of Ukraine is unacceptable and we must stand united in response.
    </h1>

    <h1 class="section-title">
        Russia’s strongest soft power tool against the west is the threat of cutting off gas and oil to Europe. Boycotting other products is useful, but addressing this primary threat to a unified response from the West should be prioritized. <a href="https://www.bbc.com/news/58888451">From the BBC - Ukraine conflict: How reliant is Europe on Russia for oil and gas?</a>
    </h1>
      <!-- div class="entry-flex">
        <header class="post-title">
          <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">A header</a>
        </header>
        <div class="post-meta">
          <span>Posted at {{ post.date | date: "%b %d" }}</span>
          by <span>Author</span>
        </div>
        <div class="post-excerpt">
            This is text
        </div>
      </div -->
    <div class="button-post">
      <a class="button" href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">More Posts</a>
    </div>
  </div>
</section>
