<section class="recent-post-wrapper">
  <div class="recent-post-container" style="padding:20px">
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0&appId=168824493159674&autoLogAppEvents=1" nonce="zH3ukL8B"></script>
    <h2>
        Russia’s invasion of Ukraine is unacceptable and we must stand united in response.
    <br /> <br />
        Russia’s strongest soft power tool against the west is the threat of cutting off gas and oil to Europe. Boycotting other products is useful, but addressing this primary threat to a unified response from the West should be prioritized. <a href="https://www.bbc.com/news/58888451" target="_blank">From the BBC - Ukraine conflict: How reliant is Europe on Russia for oil and gas?</a>
    <br /> <br />
        <b>Our proposal is proactive consumer side rationing</b>. Give politicians the power to take a tough stance now.
    <br /> <br />
        <ol>
            <li>
                Temporarily combine households, move in with friends or family, turn down thermostats at empty homes to 10°C.<br /><br />
            </li>
            <li>
                If not possible, turn down your thermostat as much as you can tolerate, wear a jacket inside.<br /><br />
            </li>
            <li>
                Avoid unnecessary electricity use, as lots of power generation is also dependent on Russian gas.<br /><br />
            </li>
            <li>
                Avoid unnecessary driving and other travel.<br /><br />
            </li>
        </ol>
    <div class="button-post">
      <a class="button" href="https://www.facebook.com/groups/boycottrussiangas">Join Our Facebook Group</a>
    </div>
    <br /> <br />
    Please share this page on all social media!
    <br /> <br />
    <div class="fb-share-button" data-href="https://www.facebook.com/groups/boycottrussiangas" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fgroups%2Fboycottrussiangas&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <br />
    <br />
    <div>
    <a href="https://twitter.com/BoycottRusGas?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @BoycottRusGas</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <br /> <br />
        Even if your country doesn’t import many Russian energy products, please participate in rationing anyway.
    <br /> <br />
        Generating a surplus among allies will open up opportunities to re-distribute resources if Russia does cut off some or all countries. Oil can be shipped on tankers as can natural gas in the form of liquid natural gas (LNG). An article on this subject from the Economist - 
    <a target="_blank" href="https://www.economist.com/the-economist-explains/2022/02/26/if-the-supply-of-russian-gas-to-europe-were-cut-off-could-lng-plug-the-gap">
        If the supply of Russian gas to Europe were cut off, could LNG plug the gap?
    </a>

    <br /> <br />
    If enough people do this we could prevent a catastrophe if Putin stops the gas or oil supply. If he doesn’t, it will decrease money flowing into Russia in the meantime.
    </h2>

    <br /> <br />
    <div class="button-post">
      <a class="button" target="_blank" href="https://forms.gle/8GTJkcfTZnqbj1iAA">Sign Up for Email Updates or to Volunteer With Us</a>
    </div>

    <br /> <br />
    <h2>
        Contact our team <a href="mailto:boycott.russian.gas@gmail.com">boycott.russian.gas@gmail.com</a>
    </h2>

    <br /> <br />
    <div style="text-align: center;">
        <img style="height:500px" src="/assets/images/ride_alone_with_putin_final.jpg" />
    </div>
    <br />
    <br />
    <h1>
        <b>Articles about how hard planning for this eventuality is for governments and energy providers right now.</b>
    </h1>


    <h2>
        <a target="_blank" href="https://www.cnn.com/2022/02/28/business/europe-gas-ukraine-russia-report/index.html">
        What if Moscow turns off the gas as the Ukraine conflict deepens?
        </a>
    </h2>
     
        "If Russia halts its supply of gas to Europe to retaliate against the punishing sanctions
         for its invasion of Ukraine, the region should still be able to make it through next winter.
         But it won’t be easy or cheap."
    <h2>

        <a target="_blank" href="https://www.bruegel.org/2022/02/preparing-for-the-first-winter-without-russian-gas/">
            Preparing for the first winter without Russian gas
        </a>
    </h2>
        A previous Bruegel blog explored three scenarios to see 
        <a target="_blank" href="https://www.bruegel.org/2022/01/can-europe-survive-painlessly-without-russian-gas/">
            whether Europe could survive this winter without Russian gas</a>.
        This blog post updates this analysis to consider the coming year and outlines three scenarios in more detail.

        <ol>
            <li><strong>No Russian imports:</strong> Even record high non-Russian imports would not be enough to sufficiently refill storage ahead of next winter. Europe would need to reduce demand by at minimum 400 TWh (or 10%-15% of annual demand). This is possible. A portfolio of exceptional options could abate at least 800 TWh.</li>
            <li><strong>Limited Russian imports: </strong>The Nord Stream 1 and Turkstream pipelines would operate (60 TWh/month), while Ukraine transit, Yamal and flows to the Balkans are stopped. Gazprom would earn a lot of money from high prices and maintain control over the EU’s gas supply, while Europe would still suffer from a highly volatile gas market.</li>
            <li><strong>Average Russian imports:</strong> Russian exports to the EU market closely resemble 2021, which we consider roughly equal to Gazprom’s long-term contractual obligations. Without energy sanctions from either side, this is likely to be the prevailing scenario. It would allow storages to be easily replenished and lead to lower prices.</li>
</ol>

    <h2>
    <a target="_blank" href="https://www.reuters.com/business/energy/what-are-europes-options-case-russian-gas-disruption-2022-02-28/">
        Reuters - Factbox: What are Europe's options in case of Russian gas disruption?
    </a>
    </h2>
  </div>
</section>
